body {
	font-family: Helvetica, "sans-serif"
}
  
.cnvs-container {
	position: relative;
	margin: 0 auto;
	width: 805px; 
}

.cnvs {
	z-index: 1;
	display: block;
	margin: 0 auto;
		margin-bottom: -45px;
	  width: 800px; 
}

.rule {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	width: 875px;
	height: 85px; 
}

.number-input {
	position: absolute;
	width: 40px;
	text-align: center;
	font-size: 50px; 
}
  
.expression {
	margin: 0 auto;
	margin-top: 180px;
	margin-bottom: 100px;
	width: 500px;
	height: 90px;
	vertical-align: middle;
	text-align: center;
	font-size: 65px; 
}

.inputError {
	color: red; 
}

.spanError {
	background-color: orange; 
}

.expressionValueInput {
	padding: 0;
	width: 70px;
	font-size: 65px; 
}

.number-input[type="text"]:disabled {
	background-color: transparent;
	color: black;
	border: none;  
}

.expressionValueInput[type="text"]:disabled {
	background-color: transparent;
	color: black; 
	border: none;
}
